body {
  background-color: #ECFFFB;
}

.grey {
    background-color: #ECFFFB;
    padding-left: -20px;
    padding-right: -20px;
}


.h2 {
    margin-top: 50px;
}

@media (min-width: 720px) {
    .h2 {
        margin-top: 90px;
    }
}

@media (min-width: 920px) {
    .h2 {
        margin-top: 110px;
    }
}

.intro-block {
    /*float: left;*/
    max-width: 100%;
    vertical-align: top;
}

@media (min-width: 720px) {
    .intro-block {
        /*float: left;*/
        width: 50%;
        vertical-align: top;
    }
}

@media (min-width: 920px) {
    .intro-block {
        float: left;
        width: 58%;
        vertical-align: top;
    }
}

.photo-block {
    margin: 20px 10px 40px 10px;
    max-width: 100%;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media (min-width: 720px) {
    .photo-block {
        float: right;
        margin: 0 0 20px 20px;
        display: inline-block;
        vertical-align: top;
        max-width: 44%;
    }
}

@media (min-width: 920px) {
    .photo-block {
        float: right;
        margin: 0 0 40px 80px;
        vertical-align: top;
        width: 32%;
    }
}

.content-block {
    width: 100%;
}

@media (min-width: 720px) {
    .content-block {
        width: 100%;
    }
}

@media (min-width: 920px) {
    .content-block {
        width: 100%;
    }
}

.left-panel {

}

@media (min-width: 720px) {
    .left-panel {

    }
}

@media (min-width: 920px) {
    .left-panel {
        width: 70%;
    }
}


.right-panel {

}

@media (min-width: 720px) {
    .right-panel {

    }
}

@media (min-width: 920px) {
    .right-panel {
        width: 30%;
    }
}

.text-block {
    margin: 0px 10px 0 10px;
    max-width: 100%;
}

@media (min-width: 720px) {
    .text-block {
        margin: 0;
        max-width: 100%;
    }
}

@media (min-width: 920px) {
    .text-block {
        margin: 0;
        max-width: 100%;
    }
}

.photo {
    width: 100%;
    max-width: 394px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media (min-width: 720px) {
    .photo {
        max-width: 304px;*/
        /*max-width: 44%;*/
    }
}

@media (min-width: 920px) {
    .photo {
        max-width: 360px;
    }
}

.skills {
    margin-top: 60px;
    margin-bottom: 20px;
}

@media (min-width: 720px) {
    .skills {

    }
}

@media (min-width: 920px) {
    .skills {
        margin-bottom: 20px;
    }
}

.logo-margin {
}

@media (min-width: 920px) {
    .logo-margin {
        margin-bottom: 20px;
    }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}