.grey {
    background-color: #0F0A4F;
    padding-left: -20px;
    padding-right: -20px;
}

.white-text {
    color: white;
}

.pink-text {
    color: #B440A3;
}

.blue-background {
    background-color: #E9FDFF;
}

.grey-color {
    background-color: #E9FDFF;
}

.h2 {
    color: #189DE7;
}

.wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}

@media (max-device-height: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    .wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 20px;
    }
}

@media (min-width: 720px) {
    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 920px) {
    .wrapper {
    }
}

.right-chapter {
    max-width: 100%;
}

@media (min-width: 720px) {
    .right-chapter {
    }
}

@media (min-width: 920px) {
    .right-chapter {
        max-width: 75%;
    }
}

.text-block-right {
    margin: 0px 10px 0 10px;
    max-width: 100%;
}

@media (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    .text-block-right {
        margin: 0px 10px 0 10px;
        max-width: 100%;
    }
}

@media (min-width: 720px) {
    .text-block-right {
        margin: 0;
    }
}

.second-text-block {
    margin-top: 20px;
}

@media (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    .second-text-block {
        margin-top: 20px;
    }
}

@media (min-width: 720px) {
    .second-text-block {
        margin-top: 30px;
    }
}

@media (min-width: 920px) {
    .second-text-block {
        margin-top: 40px;
    }
}

.permanent-space {
    margin-top: 20px;
}

.script-style {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mobile-only {
    display: none;
}

@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .mobile-only {
        display: block;
    }
}

.tablet-only {
    display: none;
}

@media (min-width: 720px) {
    .tablet-only {
        display: block;
    }
}

@media (min-width: 920px) {
    .tablet-only {
        display: none;
    }
}

.full-screen {
    display: none;
}

@media (min-width: 920px) {
    .full-screen {
        display: block;
    }
}
